<div class="row">
    <div class="col-md-12 text-center">
        <h1 class="display-1">
            Todo-list
        </h1>
    </div>
</div>
<div class="row" style="margin-bottom: 30px;">
    <ul class="nav nav-tabs">
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/home" class="nav-link"> Home </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/tarefas-completas" class="nav-link"> Tarefas Completas </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/planner" class="nav-link"> Planejar semana </a>
        </li>
    </ul>
</div>