<div class="row" style="padding: 0 30px;">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-2 text-center">Nova Tarefa</h2>
            </div>
        </div>
        <div class="row">
            <form class="form-group">
                <label for="tarefaNome"> Nome </label>
                <input type="text" autocomplete="off" #tarefaNome class="form-control" id="tarefaNome">
                <small *ngIf="emptyNameError" id="emailHelp" class="form-text text-muted"> Digite o nome da tarefa. </small><br>
                <label for="tarefaPrioridade"> Prioridade </label>
                <select #tarefaPrioridade style="padding-right: 10px;" class="form-control" id="tarefaPrioridade">
                    <option value="0"> Baixa </option>
                    <option value="1"> Média </option>
                    <option value="2"> Alta </option>
                  </select>
                  <div style="margin-top: 40px;">
                    <button  mat-raised-button type="button" class="btn btn-success" (click)="onCreateTask()"> Criar nova tarefa </button>
                    <button  mat-raised-button type="button" class="btn sair" (click)="leave()"> Sair </button>
                  </div>
            </form>
        </div>
    </div>
</div>
