<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <h2 class="display-2 text-center"> {{ editMode ? 'Editar tarefa' : 'Nova Tarefa' }} </h2>
            </div>
        </div>
        <div class="row">
            <form class="form-group" style="padding: 0 30px;">
                <label for="tarefaNomeEdit"> Nome </label>
                <input autocomplete="off" type="text" value="{{ selectedTask.name }}" #tarefaNomeEdit class="form-control" id="tarefaNome">
                <small *ngIf="emptyNameError" id="emailHelp" class="form-text text-muted"> Digite o nome da tarefa. </small><br>
                <label for="tarefaPrioridade"> Prioridade </label>
                <select #tarefaPrioridade [value]="selectedTask.priority" style="padding-right: 10px;" class="form-control" id="tarefaPrioridade">
                    <option value=0> Baixa </option>
                    <option value=1> Média </option>
                    <option value=2> Alta </option>
                  </select>
                  <div style="margin-top: 40px;">
                    <button  mat-raised-button type="button" class="btn btn-success" (click)="onSubmit()"> Salvar </button>
                    <button  mat-raised-button type="button" class="btn sair"> Sair </button>
                  </div>
            </form>
        </div>
    </div>
</div>
