small, select {
    margin-bottom: 20px;
}

small {
    color: red;
}

h2, label {
    color: white;
}

input, select {
    background-color: rgb(122, 118, 118);
    color: white;
}

input:focus, select:focus{
    border-color:  #ff901f;
    box-shadow: none;
}

button {
    background-color: #ff901f;
    color: black;
}

button:hover{
    color: black;
}

.btn.sair {
    background-color: rgb(183, 166, 166);
    margin-left: 10px;
    padding-left: 30px !important;
    padding-right: 30px !important;
}