<li 
class="list-group-item" 
style="margin-top: 10px;" 
[ngStyle]="{'border-color': tarefaData.priority == 0 ? '#04DAF6' : (tarefaData.priority == 1 ? '#F3E600' : '#FF003C') }"
>
    <div class="row">
        <div class="col-lg-8">
            <p> {{ tarefaData.name }} </p>
        </div>
        <div 
        class="col-lg-4"
        *ngIf="!tarefaData.isComplete"
        >
            <div class="row" align="right" style="padding-right: 10px;">
                <button 
                class="btn add"
                (click)="OnCompleteTask()"
                >
                    <img src="../../../../assets/images/icons/complete-icon.png" width="18px">
                </button>
                <button 
                class="btn delete"
                (click)="onDeleteTask()"
                >
                    <img src="../../../../assets/images/icons/delete-icon.png" width="18px">
                </button>
                <button 
                class="btn edit"
                (click)="onEditTask()"
                >
                    <img src="../../../../assets/images/icons/edit-icon.png" width="18px">
                </button>
            </div>
        </div>
    </div>
</li>
