<li 
class="list-group-item" 
style="margin-top: 5px;" 
[ngStyle]="{'background-color': tarefaData.priority === 'baixa' ? 'rgba(0, 255, 0, 0.1)' : (tarefaData.priority === 'media' ? 'rgba(255, 255, 0, 0.1)' : 'rgba(255, 0, 0, 0.1)') }"
>
    <div class="row">
        <div class="col-lg-8">
            <p> {{ tarefaData.name }} </p>
        </div>
        <div 
        class="col-lg-4"
        *ngIf="!tarefaData.isComplete"
        >
            <div class="row" align="right" style="padding-right: 10px;">
                <button 
                class="btn btn-success"
                (click)="OnCompleteTask()"
                >
                    <img src="../../../../assets/images/icons/complete-icon.png" width="20px">
                </button>
                <button 
                class="btn btn-danger"
                (click)="onDeleteTask()"
                >
                    <img src="../../../../assets/images/icons/delete-icon.png" width="20px">
                </button>
                <button 
                class="btn btn-warning"
                (click)="onEditTask()"
                >
                    <img src="../../../../assets/images/icons/edit-icon.png" width="20px">
                </button>
            </div>
        </div>
    </div>
</li>
