label {
    color: white;
    margin: 10px 0;
}

.col-md-12 {
    padding: 0;
}

button {
    width: 100%;
}

.cyberpunk {
    background-color: #F3E600;
}

.criar {
    margin-top: 10px;
}

.terminar {
    margin-bottom: 15px;
}


@media (min-width: 995px) {
    .col-md-8 {
        padding: 0;
    }

    .criar {
        margin-top: 0; 
    }
}