<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <form action="">
                <select name="" id="" class="form-control">
                    <option value="segunda"> Segunda </option>
                    <option value="terca"> Terça </option>
                    <option value="quarta"> Quarta </option>
                    <option value="quinta"> Quinta </option>
                    <option value="sexta"> Sexta </option>
                    <option value="sabado"> Sábado </option>
                    <option value="domingo"> Domingo </option>
                </select>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-2">
                        <label for="taskName"> Tarefa </label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="" id="taskName" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button  mat-raised-button type="button" class="btn btn-primary"> Criar </button>
                    </div>
                </div>
            </form>
        </div>
        <app-daily-tasks-list></app-daily-tasks-list>
    </div>
</div>

