<div class="row">
    <div class="col-md-6">
        <div class="col-md-12">
            <form style="margin-bottom: 30px;">
                <select #current (change)="changeDay()" class="form-control">
                    <option value="segunda"> Segunda </option>
                    <option value="terca"> Terça </option>
                    <option value="quarta"> Quarta </option>
                    <option value="quinta"> Quinta </option>
                    <option value="sexta"> Sexta </option>
                    <option value="sabado"> Sábado </option>
                    <option value="domingo"> Domingo </option>
                </select>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-2">
                        <label for="taskName"> Tarefa </label>
                    </div>
                    <div class="col-md-8">
                        <input #taskName type="text" name="" id="taskName" class="form-control">
                    </div>
                    <div class="col-md-2">
                        <button  
                        mat-raised-button 
                        type="button" 
                        class="btn cyberpunk criar"
                        (click)="addTask()"
                        > Criar </button>
                    </div>
                </div>
            </form>
            <app-daily-tasks-list
            [selectedDay]="selectedDay"
            ></app-daily-tasks-list>
            <button class="btn cyberpunk terminar" (click)="save()"> Terminar </button>
        </div>
    </div>
    <div class="col-md-6">
        <app-planner-edit></app-planner-edit>
    </div>
</div>

